{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="form-group">
            <h2>QuillQuest - About the Community </h2>
            <p>Welcome to QuillQuest! This is a space for you to write about anything you like. Whether you want to share personal stories, write fiction, or just jot down your thoughts, QuillQuest is here for you.</p>
            <p>Join our community of writers and readers. Share your unique voice and discover new perspectives.</p>
            <p>Pick up your quill and start your quest with us today!</p>
        </div>
    </div>
{% endblock %}